<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="title text-center">
          <h1>Zack Edgmon</h1>
          <h3>Just trying out frontend</h3>
          
          <hr />
          <ul class="list-inline">
           
          </ul>
        </div>
        
        <!-- summary section -->
        <div class="summary">
          <h2 class="text-center">Summary</h2>
          <p>An Information Systems student studying at USU in the Jon M Huntsman School of Business. I am persuing a emphasis in Data Engineering and a minor in Finance. I have never done front end work so this is fun!</p>
          
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <p>Software Enterprise Sales</p>
              <p>Project Management</p>
              <p>Cloud Computing ;)</p>
            </div>
            <div class="col-md-3 col-sm-3">
              <p>Python</p>
              <p>Algo analysis</p>
              <p>SQL</p>
            </div>
            <div class="col-md-3 col-sm-3">
              <p>Data cleaning and prep best practices</p>
              <p>Tableau</p>
              <p>Frontend Development</p>
            </div>
            <div class="col-md-3 col-sm-3">
            </div>
          </div>
          
        </div>
        
        
        <!-- work experience section -->
        <div class="work-experience">
          <h2 class="text-center">Work Experience</h2>
          <div class="row experience-title">
            <div class="col-md-9">
              <h3>SmartScout</h3>
              <h4>Enterprise Account Manager</h4>
              <h5>Touchpoint for large companies.</h5>
            </div>
            <div class="col-md-3">
              <h3>September 2021 - Present</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</html>